<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>GitHub User Profile</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
</head>

<body>

<div id="app"
     class="ui container">
    <h1>GitHub Profiles</h1>
    <github-user-card v-for="username in usernames" :username="username"></github-user-card>
</div>

<!-- Import Vue.js and axios -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<!-- Your JavaScript Code :) -->
<script src="app.js"></script>
</body>

</html>
