<!DOCTYPE html>
<html>
<head>
	<title>Vue Fundamentals</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="	sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
	<div class="container mt-3" id="dream-team">
		<div class="jumbotron">
		  <h1 class="display-4">{{ title.toUpperCase() }}</h1>
		  <p class="lead">{{ description }}</p>
		  <ul class="list-group">
			  <li v-for="player in oldestPlayersFirst" class="list-group-item">{{ player }}</li>
		  </ul>
		  <hr class="my-4">
		  <button @click="toggleButton" type="button" :class="[!addPlayers ? 'btn btn-success' : 'btn btn-danger']">{{ buttonText }}</button>
		  <form class="mt-3" v-if="addPlayers">
			  <div class="form-group">
			    <input v-model="newPlayer" type="text" class="form-control" id="player">
			  </div>
			  <button :disabled="newPlayer.length === 0" @click="savePlayer" class="btn btn-primary" href="#">Save</button>
		  </form>
		</div>
	</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="main.js"></script>
</body>
</html>
